* {
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 0 auto;
  font-family: 'EB Garamond', serif;
  background-image:
    linear-gradient( 
      to left,
      #A0522D, #F4A460
      )
}

a {
  color: black;
}

header {
  margin: 100px auto 30px auto;
  justify-content: center;
}

.header-results {
  margin: 25px auto 30px auto;
}

footer {
  text-align: center;
}

.result-display {
  background: #FCF4E5;
  border-radius: 30px;
  margin-bottom: 10px;
  padding: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.result-name, .result-address {
  padding-left: 20px;
}

.result-name {
  margin-top: 10px;
  margin-bottom: 10px;
}

.result-address {
  padding-bottom: 5px;
}

.content-wrapper {
  background: #FCF4E5;
  border-radius: 30px;
  margin-bottom: 10px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.coffee-type {
  font-weight: 800;
}

.marker-label {
  background-color: #353332;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  font-family: 'Dancing Script', cursive;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 50px;
  margin-top: 10px;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 500;
}

.coffee-icon {
  display: block;
  margin: auto;
}

.container {
  text-align: center;
}

.js-query {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 30%;
  border-radius: 10px;
  padding: 5px 0px 5px 10px;
}

ul {
  text-decoration: none;
}

li {
  display: inline-block;
}

button {
  margin-top: 20px;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
}

.nav-border {
  border-left: 2px solid black;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.row {
  display: flex;
}

#map {
  height: 500px;
  width: 100%;
}

/*/*Display header horizontaly with icon*/
.horizontal {
  margin-left: 20px;
  margin-top: 25px;
}

.search-information {
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.result-address {
  margin: 0;
}

.main-container {
  margin-bottom: 75px;
}
  
@media (min-width: 320px) and (max-width: 1000px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }

  .display-results, .display-map {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .header-results {
    margin: 25px auto 30px auto;
    display: flex;
    flex-direction: row;
  }

  .horizontal {
    font-size: 3.0em;
  }

  #map {
    height: 400px;
    width: 100%;
  }

  .content-wrapper {
    width: 95%;
  }
}

@media (min-width: 1001px) and (max-width: 1200px) { 
  .display-results, .display-map {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
  }

  .display-results {
    padding-right: 10px;
    width: 40%
  }

  .display-map {
    width: 60%;
  }

  .content-wrapper {
    width: 70%;
  }
} 

@media (min-width: 1201px) { 
  .display-results, .display-map {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
  }

  .display-results {
    padding-right: 10px;
  }

  .display-map {
    padding-left: 10px;
  }

  .content-wrapper {
    width: 800px;
  }
}





